if TARGET_ERAGON

config SYS_BOARD
	default "eragon_evb"

config SYS_VENDOR
	default "csky"

config SYS_SOC
	default "eragon"

config SYS_CONFIG_NAME
	default "eragon"

endif

if TARGET_KDGD

config SYS_BOARD
	default "eragon_evb"

config SYS_VENDOR
	default "csky"

config SYS_SOC
	default "kdgd"

config SYS_CONFIG_NAME
	default "kdgd"

endif

if TARGET_ERAGON_LS

config SYS_BOARD
	default "eragon_evb"

config SYS_VENDOR
	default "csky"

config SYS_SOC
	default "eragon_ls"

config SYS_CONFIG_NAME
	default "eragon_ls"

endif
