menu "CSKY architecture"
	depends on CSKY

config SYS_ARCH
	default "csky"

config CPU_CK807_810
        bool

config SYS_CPU
        default "ck807_810" if CPU_CK807_810

config SYS_CSKY_ARCH
	int
	default 1 if CPU_CK807_810

choice
	prompt "Target select"
	optional

config TARGET_ERAGON
	bool "Support eragon"
	select CPU_CK807_810
	select SUPPORT_SPL

config TARGET_KDGD
	bool "Support kdgd"
	select CPU_CK807_810
	select SUPPORT_SPL

endchoice

source "board/csky/eragon_evb/Kconfig"

endmenu
