menu "CSKY architecture"
	depends on CSKY

config SYS_ARCH
	default "csky"

config CPU_CK807_810
	bool

config CPU_CK860
	bool

config SYS_CPU
	default "ck807_810" if CPU_CK807_810
	default "ck860" if CPU_CK860

config SYS_CSKY_ARCH
	int
	default 1 if CPU_CK807_810
	default 2 if CPU_CK860

choice
	prompt "ASIC select"
	optional

config IS_ASIC
	bool "support ASIC"

endchoice

choice
	prompt "slave cpu select"
	optional

config BOOT_SLAVE_CPU
	bool "boot the slave cpu"

endchoice

choice
	prompt "Target select"
	optional

config TARGET_ERAGON
	bool "Support eragon"
	select CPU_CK807_810
	select SUPPORT_SPL

config TARGET_ERAGON_ASIC
	bool "Support eragon"
	select CPU_CK807_810
	select SUPPORT_SPL

config TARGET_KDGD
	bool "Support kdgd"
	select CPU_CK807_810
	select SUPPORT_SPL

config TARGET_ERAGON2
	bool "Support eragon2"
	select CPU_CK807_810
	select SUPPORT_SPL

config TARGET_ANOLE
	bool "Support anole"
	select CPU_CK860
	select SUPPORT_SPL

endchoice

source "board/csky/eragon_evb/Kconfig"
source "board/csky/anole_evb/Kconfig"

endmenu
