CONFIG_MIPS=y
CONFIG_MACH_LOONGSON=y
CONFIG_SYS_TEXT_BASE=0xb7c00000
CONFIG_SPL=y
CONFIG_HUSH_PARSER=y
CONFIG_CPU_MIPS32_R1=y
CONFIG_SYS_PROMPT="loongson # "
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_BOOTM is not set
CONFIG_CMD_MAILBOX_CSKY=y
# CONFIG_REGEX is not set
CONFIG_UNIT_TEST=y
CONFIG_UT_TIME=y
