CONFIG_CSKY=y
CONFIG_TARGET_CK807=y
CONFIG_BOOTDELAY=5
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="CK807 # "
CONFIG_SYS_BOARD="eragon_evb"
CONFIG_SYS_SOC="eragon"
CONFIG_SYS_VENDOR="csky"
CONFIG_SUPPORT_SPL=y
CONFIG_SPL=y
CONFIG_AUTOBOOT=n
CONFIG_CMD_USB=n
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_UNIT_TEST=y
CONFIG_UT_TIME=y
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_DHCP=n
CONFIG_CMD_PING=n
CONFIG_CMD_CACHE=n
CONFIG_CMD_EXT2=n
CONFIG_CMD_FAT=n
CONFIG_CMD_BDI=n
CONFIG_CMD_CONSOLE=n
CONFIG_CMD_BOOTD=n
CONFIG_CMD_BOOTM=n
CONFIG_CMD_ELF=n
CONFIG_CMD_GO=n
CONFIG_CMD_RUN=n
CONFIG_CMD_IMI=n
CONFIG_CMD_IMLS=n
CONFIG_CMD_XIMG=n
CONFIG_CMD_EXPORTENV=n
CONFIG_CMD_IMPORTENV=n
CONFIG_CMD_EDITENV=n
CONFIG_CMD_SAVEENV=n
CONFIG_CMD_ENV_EXISTS=n
CONFIG_CMD_MEMORY=n
CONFIG_CMD_CRC32=y
CONFIG_CMD_LOADB=n
CONFIG_CMD_LOADS=n
CONFIG_CMD_FLASH=n
CONFIG_CMD_FPGA=n
CONFIG_CMD_ECHO=n
CONFIG_CMD_ITEST=n
CONFIG_CMD_SOURCE=n
CONFIG_CMD_NET=n
CONFIG_CMD_NFS=n
CONFIG_CMD_MISC=n
CONFIG_NET=n
CONFIG_NET_TFTP_VARS=n
CONFIG_CMDLINE=y
